name: Stock Alert

on:
  schedule:
    - cron: "0,30 4-9 * * 1-5"
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run stock alert script
        env:
          ALERT_EMAIL: ${{ secrets.ALERT_EMAIL }}
          ALERT_PASSWORD: ${{ secrets.ALERT_PASSWORD }}
          RECEIVER_EMAIL: ${{ secrets.RECEIVER_EMAIL }}
        run: python main.py